In [ ]:
import pandas as pd

In [35]:
Moratlity.head()

,death_id,province_death_id,case_id,age,sex,health_region,province,country,date_death_report
0,1,1,60.0,80-89,Male,Vancouver Coastal,BC,Canada,08-03-2020
1,2,1,477.0,70-79,Male,Simcoe Muskoka,Ontario,Canada,11-03-2020
2,3,2,NaN,NaN,NaN,Vancouver Coastal,BC,Canada,16-03-2020
3,4,3,NaN,NaN,NaN,Vancouver Coastal,BC,Canada,16-03-2020
4,5,4,NaN,NaN,NaN,Vancouver Coastal,BC,Canada,16-03-2020

In [36]:
Moratlity.isnull().sum()

death_id              0
province_death_id     0
case_id              29
age                  21
sex                  20
health_region         0
province              0
country               0
date_death_report     0
dtype: int64

In [37]:
Moratlity.isnull().sum()

array(['BC', 'Ontario', 'Quebec', 'Alberta'], dtype=object)

In [38]:
Moratlity["health_region"].unique()

array(['Vancouver Coastal', 'Simcoe Muskoka', 'Fraser', 'Lanaudi√®re',
       'Halton', 'Edmonton', 'York', 'Toronto',
       'Haliburton Kawartha Pineridge', 'Durham', 'Calgary', 'Hamilton',
       'Niagara', 'Not Reported'], dtype=object)

In [39]:
Moratlity.describe()

        death_id  province_death_id      case_id
count  35.000000          35.000000     6.000000
mean   18.000000           6.285714   805.666667
std    10.246951           4.011538   568.377222
min     1.000000           1.000000    60.000000
25%     9.500000           3.000000   495.000000
50%    18.000000           6.000000   677.500000
75%    26.500000           9.500000  1303.250000
max    35.000000          14.000000  1473.000000

In [40]:
# fill the missing values for categorical terms - mode
Moratlity['age'] = Moratlity["age"].fillna(Moratlity['age'].mode()[0])
Moratlity['sex'] = Moratlity["sex"].fillna(Moratlity['sex'].mode()[0])

In [41]:
# fill the missing values for numerical terms - mean
Moratlity['case_id'] = Moratlity['case_id'].fillna(Moratlity['case_id'].mean())

In [42]:
Moratlity.isnull().sum()

death_id             0
province_death_id    0
case_id              0
age                  0
sex                  0
health_region        0
province             0
country              0
date_death_report    0
dtype: int64

In [44]:
Moratlity.shape

(35, 9)

In [45]:
age=pd.read_csv("COVID-19_Age.csv")

In [46]:
age.head()

   Age_start  Age_end  Positive Country       Date
0          0        9        43   Italy  3/11/2020
1         10       19        85   Italy  3/11/2020
2         20       29       296   Italy  3/11/2020
3         30       39       470   Italy  3/11/2020
4         40       49       891   Italy  3/11/2020

In [47]:
age.isnull().sum()

Age_start    0
Age_end      0
Positive     0
Country      0
Date         0
dtype: int64

In [50]:
age.shape

(172, 5)

In [51]:
public=pd.read_csv("Public_COVID-19_Canada .csv")

In [52]:
public.head()

,case_id,provincial_case_id,age,sex,health_region,province,country,date_report,report_week,travel_yn,travel_history_country,locally_acquired
0,1.0,1.0,50-59,Male,Toronto,Ontario,Canada,25-01-2020,19-01-2020,1,China,NaN
1,2.0,2.0,50-59,Female,Toronto,Ontario,Canada,27-01-2020,26-01-2020,1,China,NaN
2,3.0,1.0,40-49,Male,Vancouver Coastal,BC,Canada,28-01-2020,26-01-2020,1,China,NaN
3,4.0,3.0,20-29,Female,Middlesex-London,Ontario,Canada,31-01-2020,26-01-2020,1,China,NaN
4,5.0,2.0,50-59,Female,Vancouver Coastal,BC,Canada,04-02-2020,02-02-2020,0,NaN,Close Contact

In [53]:
public.isnull().sum()

case_id                    500
provincial_case_id         500
age                        500
sex                        500
health_region              500
province                   500
country                    500
date_report                500
report_week                500
travel_yn                  500
travel_history_country    3547
locally_acquired          3762
dtype: int64

In [54]:
public.describe()

           case_id  provincial_case_id
count  3409.000000         3409.000000
mean   1705.000000          425.074802
std     984.237861          348.803475
min       1.000000            1.000000
25%     853.000000          138.000000
50%    1705.000000          351.000000
75%    2557.000000          612.000000
max    3409.000000         1339.000000

In [61]:
public.shape

(3909, 12)

In [58]:
# fill the missing values for categorical terms - mode
public['age'] = public["age"].fillna(public['age'].mode()[0])
public['sex'] = public["sex"].fillna(public['sex'].mode()[0])
public['health_region'] = public["health_region"].fillna(public['health_region'].mode()[0])
public['province'] = public["province"].fillna(public['province'].mode()[0])
public['country'] = public["country"].fillna(public['country'].mode()[0])
public['date_report'] = public["date_report"].fillna(public['date_report'].mode()[0])
public['report_week'] = public["report_week"].fillna(public['report_week'].mode()[0])
public['travel_yn'] = public["travel_yn"].fillna(public['travel_yn'].mode()[0])
public['travel_history_country'] = public["travel_history_country"].fillna(public['travel_history_country'].mode()[0])
public['locally_acquired'] = public["locally_acquired"].fillna(public['locally_acquired'].mode()[0])

In [59]:
# fill the missing values for numerical terms - mean
public['case_id'] = public['case_id'].fillna(public['case_id'].mean())
public['provincial_case_id'] = public['provincial_case_id'].fillna(public['provincial_case_id'].mean())

In [63]:
public.isnull().sum()

case_id                   0
provincial_case_id        0
age                       0
sex                       0
health_region             0
province                  0
country                   0
date_report               0
report_week               0
travel_yn                 0
travel_history_country    0
locally_acquired          0
dtype: int64

In [65]:
recovered=pd.read_csv("Recovered_Canada .csv")

In [69]:
recovered.head(10)

  date_recovered province  cumulative_recovered province_source
0     12-02-2020  Alberta                   NaN         Alberta
1     13-02-2020  Alberta                   NaN              BC
2     14-02-2020  Alberta                   NaN        Manitoba
3     15-02-2020  Alberta                   NaN   New Brunswick
4     16-02-2020  Alberta                   NaN              NL
5     17-02-2020  Alberta                   NaN     Nova Scotia
6     18-02-2020  Alberta                   NaN         Nunavut
7     19-02-2020  Alberta                   NaN             NWT
8     20-02-2020  Alberta                   NaN         Ontario
9     21-02-2020  Alberta                   NaN             PEI

In [67]:
recovered.isnull().sum()

date_recovered            0
province                  0
cumulative_recovered    339
province_source         546
dtype: int64

In [68]:
recovered.shape

(559, 4)

In [70]:
recovered.describe()

       cumulative_recovered
count            220.000000
mean               3.531818
std               18.143363
min                0.000000
25%                0.000000
50%                0.000000
75%                3.000000
max              183.000000

In [71]:
# fill the missing values for numerical terms - mean
recovered['cumulative_recovered'] = recovered['cumulative_recovered'].fillna(recovered['cumulative_recovered'].mean())

In [72]:
# fill the missing values for categorical terms - mode
recovered['province_source'] = recovered["province_source"].fillna(recovered['province_source'].mode()[0])

In [73]:
recovered.isnull().sum()

date_recovered          0
province                0
cumulative_recovered    0
province_source         0
dtype: int64

In [74]:
testing=pd.read_csv("Testing_Canada .csv")

In [75]:
testing.head()

  date_testing province cumulative_testing province_source
0   15-03-2020  Alberta               7108         Alberta
1   16-03-2020  Alberta              10598              BC
2   17-03-2020  Alberta              12355        Manitoba
3   18-03-2020  Alberta              14566   New Brunswick
4   19-03-2020  Alberta              17013              NL

In [80]:
testing.isnull().sum()

date_testing           0
province               0
cumulative_testing    12
province_source        0
dtype: int64

In [77]:
testing.describe()

       date_testing province cumulative_testing province_source
count           143      143                131              14
unique           11       13                107              14
top      17-03-2020       NL               6326              NL
freq             13       11                  5               1

In [79]:
# fill the missing values for categorical terms - mode
testing['province_source'] = testing["province_source"].fillna(testing['province_source'].mode()[0])